.card {
  position: relative;
  margin-top: 1rem;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: #ffffff;
  color:#000;
  font-weight: 600;
}
